<!doctype html>
<html class="no-js" lang="{{ lang }}">

<head>
  {% block headMeta %}
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="white"/>
    <meta name="theme-color" content="white"/>
    <link rel="shortcut icon" href="_img/favicon.ico" type="image/x-icon">
    <link rel="me" href="https://github.com/danielstaleiny" >
    <link rel="me" href="mailto:hala-bala@tutanota.com" >
    <link rel="me" href="mailto:danielstaleiny@tutanota.com" >
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/582">
    <link rel="micropub" href="http://server.rafaj.dev/micropub">

    <meta name="robots" content="noindex">  <!-- TODO remove this when you are happy with site -->
  {% endblock %}

  {% block headMisc %}
  {% endblock %}

  {% block headStyles %}
  {% endblock %}

</head>

<body>
  {% block body %}
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
  {% endblock %}
</body>
</html>
