{% extends "extends/html5boilerplate.njk" %}

{#% set title = (title + " - " + site.title) if title else (site.title) %#}
{% set lang = lang | default(site.lang) %}
{% set description = description | default(site.description) %}
{% set author = author | default(site.author) %}

{% block headStyles %}
    {% include "partials/styles-critical.njk" %}
    {% include "partials/styles.njk" %}
    {% include "partials/scripts.njk" %}
{% endblock %}

{% block headMisc %}
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/_img/icon.png">
{% endblock %}

{% block body %}
    {{ super() }}

    {{ content | safe }}
{% endblock %}

{% block bodyScripts %}
{% endblock %}
