---
layout: base.njk
---
<main class="page">
    {% include "partials/header.njk" %}
    <article class="h-entry container">
      <div class="mx-auto max-w-40 w-full">
        <h1 class="p-name h1">
          {{ title }}
        </h1>
        <p class="text-right italic">
          <time class="dt-published" datetime="{{ date.toISOString() }}">Written on {{date.toUTCString().substring(0, 16)}}</time>
        </p>
        <div class="e-content">
        {{ content | safe }}
        </div>
      </div>
    </article>
</main>
