---
layout: base.njk
---
<main class="page">
    {% include "partials/header.njk" %}
    <article class="container">
      <div class="mx-auto max-w-40 w-full">
            {{ content | safe }}
      </div>
    </article>
</main>
