html {
    @apply font-sans;
}
@media (min-width: 46.25em) and (max-width: 50em){
    html {
        font-size: 1.0625em;
    }
}
@media (min-width: 50em) and (max-width: 63.75em) {
    html {
        font-size: 1.125em;
    }
}
@media (min-width: 63.75em) and (max-width: 79em) {
    html {
        font-size: 1.1875em;
    }
}
@media (min-width: 79em) and (max-width: 125em) {
    html {
        font-size: 1.25em;
    }
}
@media (min-width: 125em) and (max-width: 200em) {
    html {
        font-size: 1.3125em;
    }
}
@media (min-width: 200em) and (max-width: 400em) {
    html {
        font-size: 1.375em;
    }
}
@media (min-width: 400em) {
    html {
        font-size: 1.5em;
    }
}

body {
    font-size-adjust: 0.5;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" on;
    @apply text-fg bg-bg;
}
@media (min-width: 46.25em) and (max-width: 50em){
    body {
        line-height: 1.5;
    }
}
@media (min-width: 50em) and (max-width: 63.75em) {
    body {
        line-height: 1.5;
    }
}
@media (min-width: 63.75em) and (max-width: 79em) {
    body {
        line-height: 1.5;
    }
}
@media (min-width: 79em) and (max-width: 125em) {
    body {
        line-height: 1.6;
    }
}
@media (min-width: 125em) and (max-width: 200em) {
    body {
        line-height: 1.6;
    }
}
@media (min-width: 200em) and (max-width: 400em) {
    body {
        line-height: 1.6;
    }
}
@media (min-width: 400em) {
    body {
        line-height: 1.6;
    }
}

input, textarea {
    font-size: inherit;
    line-height: inherit;
}

input::placeholder, textarea::placeholder {
    @apply font-sans;
}

ul, ol {
    list-style-position: outside;
}

li {
    @apply list-none;
}


.e-content ul,.e-content ol {
    @apply pl-1;
}

.e-content li {
    @apply list-disc mb-0.25;
}
