---
layout: archive.njk
title: Daniel Rafaj Blog Archive
description: Past, future and present. List of Daniel Rafaj posts.
---
<h1 class="h1">Archive</h1>
{% for post in collections.blog | reverse %}
  <article class="h-entry hentry">
    <a class="u-url" href="{{post.url}}" rel="bookmark">
      <h2 class="p-name entry-title">{{post.data.title}}</h2>
    </a>
    <p class="p-summary entry-summary">{{post.data.description}}</p>
    <em class="italic"><time class="dt-published published" datetime="{{ post.date.toISOString() }}">{{ post.date.toUTCString().substring(0, 16) }}</time></em>
    <!-- <a href="/category/uncategorized/" rel="category tag" class="p-category">General</a> <!-- Example -->
  </article>
{% endfor %}
