---
layout: root.njk
title: About web by Daniel Rafaj
description: About why, what and how ?
---
<h1 class="h1">Web developer focused on quality and speed of the websites</h1>
<p>
    Old web is the future. Not every website needs to mine your data, and take control. I believe that we can do better by bringing back simple websites which are offline frendly and keep low on javascript overhead.
</p>
