---
layout: root.njk
title: About web by Daniel Rafaj
description: About why, what and how ?
---
<h1 class="h1">About page</h1>
<p>
  Eu non diam phasellus vestibulum <a href="">lorem sed risus</a> ultricies tristique nulla. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit, scelerisque in dictum non, consectetur!
</p>
