---
layout: archive.njk
title: Daniel Rafaj Blog Archive
allignore: true
description: Past, future and present. List of Daniel Rafaj posts.
---
<h1 class="h1">Archive</h1>
{% for post in collections.all | reverse %}
{% if not post.data.allignore and post.url.substring(0,6) !== "/html/"  %}
  <article class="h-entry hentry">
    <h2 class="p-name entry-title mb-0">
      <a class="u-url" href="{{post.url}}" rel="bookmark">
        {{post.url}}
      </a>
        {% if post.data.title %}
          <p class="text-h4">{{post.data.title}} <span class="italic align-top text-sm tracking-normal">{{ post.data.posttype | default("notype") }}</span></p>
        {% else %}
          <span class="italic align-top text-sm tracking-normal">{{ post.data.posttype | default("notype") }}</span>
        {% endif %}
    </h2>
    {% if post.data.description %}<p class="p-summary entry-summary">{{post.data.description}}</p> {% endif %}
    <em class="italic"><time class="dt-published published" datetime="{{ post.date.toISOString() }}">{{ post.date.toUTCString().substring(0, 16) }}</time></em>
  </article>
{% endif %}
{% endfor %}
