---
layout: cv.njk
title: Daniel Rafaj
description: Curriculum vitae / resume
keywords: daniel, rafaj, cv, resume
---
<h1 class="h1">Curriculum vitae</h1>
<p>
  Here are my previous work experiences and project I worked on.
</p>

<p>Idea of this is to have,
  sections with each project and screenshots, links, and explanation of what I did, what I used, what I learned.
  Keep it short, but inormal and constructive.
</p>
