---
layout: root.njk
title: Web by Daniel Rafaj
description: What the Web was ment to be
---
<h1 class="h1">Blog posts</h1>
<p>
  Eu non diam phasellus vestibulum <a href="">lorem sed risus</a> ultricies tristique nulla. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit, scelerisque in dictum non, consectetur!
</p>
{% for post in collections.blog | reverse %}
  <div>
    <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
    <em class="italic">{{ post.date.toUTCString().substring(0, 16) }}</em>
  </div>
{% endfor %}
