---
layout: root.njk
title: Web by Daniel Rafaj
description: Web what was ment to be
---
<h2 class="mt-3">Blog posts</h2>
<p>
  Eu non diam phasellus vestibulum <a href="">lorem sed risus</a> ultricies tristique nulla. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit, scelerisque in dictum non, consectetur!
</p>
{% for post in collections.blog | reverse %}
  <div>
    <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
    <em class="italic">{{ post.date.toUTCString().substring(0, 16) }}</em>
  </div>
{% endfor %}
