---
layout: root.njk
title: Web by Daniel Rafaj
allignore: true
description: What the Web was ment to be
---
<h1 class="h1">Web by Daniel Rafaj</h1>
<p>
Posting content about technology, making websites and anything software or hardware related. Functional programming, Offline first websites, indie web. Bring back old web for better experience on the internet.
</p>
{% for post in collections.blog | reverse %}
  <div>
    <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
    <em class="italic">{{ post.date.toUTCString().substring(0, 16) }}</em>
  </div>
{% endfor %}

<!-- <h2>Testing login</h2>
     <form action="https://indielogin.com/auth" method="get">
     <label for="url">Web Address:</label>
     <input id="url" type="text" name="me" placeholder="yourdomain.com" />
     <p><button type="submit">Sign In</button></p>
     <input type="hidden" name="client_id" value="https://rafaj.dev/" />
     <input type="hidden" name="redirect_uri" value="https://rafaj.dev/b/" />
     <input type="hidden" name="state" value="jwiusuerujs" />
     </form> -->
