---
permalink: site.webmanifest
allignore: true
---
{
    "name": "{{ site.title }}",
    "short_name": "{{ site.short_name | default(site.title) }}",
    "start_url": "/",
    "display": "standalone",
    "theme_color": "#fff",
    "background_color": "#fff",
    "description": "{{ site.description }}",
    "icons": [
        {
            "src": "/_img/icon.png",
            "sizes": "32x32",
            "type": "image/png"
        },
        {
            "src": "/_img/tile.png",
            "sizes": "558x558",
            "type": "image/png"
        }
    ]
}
