---
layout: base.njk
title: Finishing Authentication
allignore: true
description: Page to receive auth token.
---
<div class="container">
  <h1 class="h1">Finishing authentication</h1>
  <p>Retrieving access token...</p>
</div>
