  <footer class="container hidden">
    <div class="h-card mx-auto max-w-40 w-full mt-1">
        <span class="p-name">Daniel Rafaj</span>
        <a class="p-org" href="http://indsigt.design">indsigt.design</a>
        <img class="u-photo" src="/_img/icon.png"/>
        <a class="u-url" href="https://rafaj.dev">rafaj.dev</a>
        <a class="u-email" href="mailto:hala-bala@tutanota.com">hala-bala@tutanota.com</a>
        <div class="p-category hidden">technology</div>
    </div>
  </footer>
