  <header class="container">
    <div class="mx-auto max-w-40 w-full mt-1 text-right t:text-left">
    <ul class="italic space-y-1 t:space-y-auto text-lg t:flex t:flex-row">
        <li><a class="btn" href="/">home</a></li>
        <li><a class="btn" href="/b">blog</a></li>
        <li><a class="btn" href="/a">about</a></li>
        <li><a class="btn" href="/c">curation</a></li>
        <li><a class="btn" href="/p">photos</a></li>
        <li class="flex-1"><a class="btn" href="/feed.xml">follow/rss</a></li>
        <li><h1><a class="no-underline border-none" href="daniel.rafaj.dev">Daniel Rafaj</a></h1></li>
    </ul>
    </div>
  </header>
