<!-- if you use type="module"  it is automatically defered -->
<!-- if you use async type="module" it does not wait for html to load -->
<!-- Only if you don't use type="module" or defer or async put script to bottom. -->
<!-- https://javascript.info/modules-intro#async-works-on-inline-scripts -->
<script src="/_js/index.js" type="module" ></script>
